<div style="background-image: url(../assets/indoorgames.jpg); height: 250px;">
    <h5>Indoor Games</h5>
</div><br>
<div class="container">
    <button class="btn btn-primary" (click)="display4()">Chess</button><br>
    <div [hidden]="!showcontent4">
        <pre>
            <h6 style="text-align: center; font-weight: bold;">Chess</h6>
            Chess is an intense game full of quick moves, fast-thinking abilities, and manipulation. Arena Sports Academy endeavours to train our students 
meticulously to play like the next Vishwanathan Anand!. In our sports complex, we have a separate area for chess games. Here players are completely immersed 
in their competitions and practice. We train them for speed, accuracy, and thinking on their feet.While outdoor games gain traction, parents may worry that 
sports like chess will not receive adequate attention. No need to worry because our coaches are proficient in tricky manoeuvres!They are well experienced 
in knowing how to hone a student's skill while teaching them to think independently. After our training, players will be able to modify their strategies 
and excel in speed chess. Plus, our coaches will teach players how to predict their opponent's moves and plan accordingly.To enhance our students' thinking
 power to excel in chess, our affiliated school has a specially curated curriculum interspersed with team-building activities. So a chess player will feel 
 intellectually stimulated in our learning environment.Chess players have a bright future in store for them! The All India Chess Federation conducts events 
 like Shri Maheshwarananda Saraswati Memorial Maharashtra Open Rapid Rating Chess Tournament, All India Open Rapid Fide Rating Tournament, Tata Steel Chess 
 India Rapid Tournament, etc.
        </pre>
    </div><br>
    <button class="btn btn-primary" (click)="display5()">Carrom</button>
    <div [hidden]="!showcontent5">
        <pre>
            <h6 style="text-align: center; font-weight: bold;">Carrom</h6>
            Our sports complex has a plethora of indoor games as well. Carrom is a beloved childhood game for all Indian children. Extracting this inbred 
interest to form a champion is Arena Sports Academy's promise!Our cutting-edge infrastructure guarantees that even an often overlooked sport like carrom 
gets due. We have ample space, carrom boards, and sets of 19 light wooden discs (carrom men) fully stocked in our sports complex.Carrom demands a thorough 
understanding of the gameplay, the physics applied while playing, and tact. The mastery of these concepts will be realised at Arena Sports Academy under 
the wing of our esteemed coaching faculty.They will go to immense lengths to teach players the ABCs of carrom, leaving no room for mistakes. Our coaches 
are equitable in their attention to players of all ages, levels, and backgrounds. After all, a winner can come from anywhere!To become an impressive 
world-class player in this sport, a player must have in-depth knowledge of carrom techniques. Which finger to use, improve aim, and judge which carrom 
disc to hit: all these finer details will be taught at IIG Sports Academy.Other sportspersons can also take up carrom as a fun alternative hobby. Its 
roots in our childhoods and engaging gameplay are attractive for players of all ages.The Indian Carrom Federation is the apex committee that hosts all 
domestic carrom competitions. The Senior National & Inter-State Carrom Championship and the Federation Cup Carrom Tournament are some famous ones.
        </pre>
    </div><br><br>
    <button class="btn btn-primary" (click)="display6()">Table Tenis</button>
    <div [hidden]="!showcontent6">
        <pre>
            Table tennis is quickly gaining momentum in the competitive sports industry of India. With demands for more Indian players in international 
competitions on the rise, now is a great time to upskill your talent in this sport. IIG Sports Academy could be your one-way ticket to the Olympics!We 
provide proper table tennis tables and equipment, all to international standards. We have adequate space for players to practice in without feeling 
cramped. All our equipment is maintained in pristine condition and regularly restocked.This is a testament to our zero-tolerance policy for compromises 
on our students' futures. We are committed to ensuring that no technical glitches or flaws come in the way of our budding champions!Table tennis, just 
like any other racquet sport, requires exceptional concentration span, agility, and fast reflexes. These skills are instilled in all our players by the 
tremendous efforts of our coaches. They will teach the students everything they need to know -from the rules to gameplay - across all levels and age 
groups.Students can also enjoy table tennis as a recreational hobby. While professional table tennis is highly competitive, it can also be a leisure 
activity for some students. So it is a win-win!With the stellar performance of Indian table tennis players in the Tokyo Olympics still fresh in our memory,
it is safe to assume that India has a long road ahead in this sport. Your child could be one of the winners who becomes the next big T.T. sensation, and 
Arena Sports Academy will do everything to empower them!
</pre>
    </div>
</div>
<br><br><br><br>
<span style="text-align: center;background-color: red;color: aliceblue;">*NOTE : Click the game to know more..</span>