<div style="background-color: bisque;">
<div class="container-fluid" style="background-image:url(../assets/abt.jfif); height: 260px;background-color: bisque;">
<h3 style="position: relative; width:150px; top: 25%;left: 40%;background-color:darkgray; color:maroon; font-family: Verdana, Geneva, Tahoma, sans-serif;">ABOUT US</h3></div>

    
<div class="card card-body" style="border:2px solid black; width: 550px;position: absolute;bottom: 8%; left: 40%;">
    <h4 class="card-title">About Us</h4>
    <p class="card-text">Arena Sports Academy is the fulcrum where champions are made. It's a facility where the top trainers help aspiring Olympians reach their full potential. Through intensive athletic training, we strive to instill a sense of enthusiasm, confidence, and team spirit. We believe that the sky is only a stepping stone, and that pushing yourself to new heights is the path to success

        Arena Sports Academy is substantiating towards an exponential development, aspiring to the need for professionals with various skills. We host several sporting leagues, which lead to the evolution of the sports academy into becoming a bootstrapper of unexplored avenues and countless opportunities</p>
</div>

<br>
<div style="width: 160px;background-color: bisque; height:360px;position: relative;
top: 45%; left: 10%;">
<img  src="../assets/abt-img.jpg" style="border-radius: 10%;width: 260px; height:360px;">
</div></div><br>
<footer style="background-image:url(../assets/why-us.jpg); height: 450px; width: auto;">
    <br><BR><BR>
<h3 style="text-align: center;">Why Chose Us</h3><br><br>
<div class="container">
    <div class="row">
    <div class="col-3">
    <img class="ms-4" src="https://iigsports.in/public/images/icons/instruction.webp" width="62px" height="72px" alt="Arena sports academy"
    style="background-color: aliceblue;padding: 10px;border-radius: 25%;">
    <h6 class="pt-2">Tailored Instruction</h6></div>
<div class="col-3" >
    <img class="ms-4" src="https://iigsports.in/public/images/icons/schedule.webp" width="62px" height="72px" alt="Arena sports academy"
    style="background-color: aliceblue;padding: 10px;border-radius: 25%;">
    <h6 class="pt-2">Flexible Scheduling</h6>
</div>
<div class="col-3">
    <img class="ms-4" src="https://iigsports.in/public/images/icons/location.webp" width="62px" height="72px" alt="Arena sports academy"
    style="background-color: aliceblue;padding: 10px;border-radius: 25%;">
    <h6 class="pt-2">Convinient Location</h6>
</div>
<div class="col-3">
    <img class="ms-4" src="https://iigsports.in/public/images/icons/program.webp" width="62px" height="72px" alt="Arena sports academy"
    style="background-color: aliceblue;padding: 10px;border-radius: 25%;">
    <h6 class="pt-2">Structured Programs</h6>
</div>
</div>
</div><br><br>
<pre style="color: crimson;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; text-align: center;font-size: large;"> “One man practicing sportsmanship is far better than 50 preaching it.” 
                                                 
                                                      —Knute Rockne</pre></footer>
