<br>
<div style="background-color: bisque;">
<div class="container-fluid" style="height:550px; width: auto;">
<h1 style="text-align: center;">Welcome To Arena Sports Academy!!!</h1><br><br>
<div class="container" style="display: flex; ">
<img src="../assets/arena.jpg" height="380px" width="300px" class="ms-5" style="border-radius: 10%;">
<pre class="p-3 ms-5" style="background-color: aliceblue;border-radius: 5%; font-size: large; font-family: Georgia, 'Times New Roman', Times, serif;">                            Arena Sports Academy is the fulcrum where champions are made.
     It's a facility where top trainers help aspiring Olympians reach their full potential.
     Through intensive athletic training, we strive to instill a sense of enthusiasm, 
     confidence, and team spirit. We believe that the sky is only a stepping stone,
     and that pushing yourself to new heights is the path to success.

                   Under Arena Sports academy, just follow your sporting dreams, without 
    compromising on Academics. We are thrilled to announce admissions are open for the year 
    2022-2023 for all the outdoor and indoor sports. Arena Sports academy offers a flexible 
    educational curriculum that provides a tailor-made academic schedule to athlete. Sports 
    involves more than shedding blood, sweat, and tears. Hence, through our several training plans
    (residential and non-residential), we go a step beyond training our students to play 
    the sport.We believe in empowering a candidate with the requisites of the sports industry,
    equipping them to take charge of the world that awaits them.</pre></div>
</div><br>
<div class="container" style="display: flex;">
<div class="card m-4" style=" flex:1; background-color: aliceblue; border-radius: 5%;">
    <img src="../assets/outdoor.jfif" style="height: 194px;" class="card-img-top">
    
<div class="card-body">
    <button type="button" class="btn btn-primary card-title">Outdoor Games</button>
    <p class="card-text">15acres of State-of-the-Art infrastructure for both sports and academics</p>
    </div></div>
    <div class="card m-4" style=" flex:1; background-color: aliceblue; border-radius: 5%;">
    <img src="../assets/indoor.jpg" style="height: 194px;" class="card-img-top">
    <div class="card-body">
        <button type="button" class="btn btn-primary card-title">Indoor Games</button>
        <p class="card-text">Train-Learn-Develop
            Training with the Best Mentors & Coaches</p>
    </div>
</div>
<div class="card m-4" style="flex:1; background-color: aliceblue; border-radius: 5%;">
    <img src="../assets/tournaments.jpg" style="height: 194px;" class="card-img-top">
    <div class="card-body">
        <button type="button" class="btn btn-primary card-title">Tournaments</button>
        <p class="card-text">You earn your trophies at Practice. You just pick them up at Competitions
        </p>
    </div>
</div>
<div class="card m-4" style=" flex:1; background-color: aliceblue; border-radius: 5%;">
    <img src="../assets/academic.jfif" style="height: 194px;" class="card-img-top">
    <div class="card-body">
        <button type="button" class="btn btn-primary card-title">Academic</button>
        <p class="card-text">In Pursuit of Intellectual Transformation, Light, Truth & Greater Good
        </p>
    </div>
</div>
</div><br>