<div style="background-image: url(../assets/outdoor.jpg); height: 250px;background-repeat: no-repeat; background-size: 100% auto;">
<h5 style="background-color: aliceblue; width: 180px;">OUTDOOR  SPORTS</h5>
</div>
<div class="container"><br>
<button class="btn btn-primary" (click)="display1()">Cricket</button>
<br><br>
<div id="over" [hidden]="!showcontent1">
    <br>
    <h5>Cricket</h5>
    <pre>                  As an endeavour to nurture the next Tendulkar, Dhoni, or Kohli, the Adult Cricket Program includes individual tests and profiles.
         Some of these include fitness, functional movement screening, and physiotherapy screening. During this eight-month program,
         our rookies benefit from fitness programs, nutrition, performance psychology assistance, development, and personalised player agendas.
         Additionally, a significant portion of the program is spent improving your innate talents in cricket through expert coaching sessions 
         in their home states and enjoying incredible chances through connection with state-contracted players and programs.
        <h6> Batting:</h6>           Our unique selling point is to identify shortcomings, demonstrate how to correct them, and provide specific drills for everyone to 
        practise and master their distinct approach. We also cover the psychological side of the game to give you an edge before you face 
        the pavilion.
            <h6>Bowling:</h6>           When you're trying to improve your game as a bowler, you need to figure out where you're going wrong and find innovative solutions
        for the team. Our bowling training agenda offers you several strategies to identify errors, rectify them, and conduct drills to help 
        you master new techniques and patterns.
        
        “I have failed at times, but I never stop trying.” – Rahul Dravid, Former captain of Indian national cricket team.</pre>
</div>
<br>
<button class="btn btn-primary" (click)="display2()">Football</button>
<br><br>
<div id="over" [hidden]="!showcontent2">
    <h5>Football</h5>
    <pre>
        Learning the fundamentals should be considered anything but inconvenient. Our Football Program fundamentals inculcate age-appropriate passing,
catching, and sprinting abilities in a non-contact environment through a stimulating regime.
        We provide programs that can help you reach your full potential. We collaborate with sports, medicine, and education professionals to create new training 
methods and competitive advantages.
        Each student-athlete is surrounded by a support structure that includes a head coach, position coach, strength and conditioning coach, athletic trainers, 
instructors, college advisers, and others to help them improve.
<ul>
<li>A football talent development strategy for individuals</li><li>One team periodization strategy</li><li>A proposal for individual job periodization</li>
</ul>
        We use Key Performance Indicators (KPIs) such as position-specific data, game day assessments, practice recordings, strength and conditioning objectives, 
and academic achievement to assess student-athlete development and success.
         
              “I have to keep improving myself and challenging myself.” – Sunil Chhetri, Indian national footballer
</pre>
</div><br>
<button class="btn btn-primary" (click)="display3()">Volleyball</button><br><br>
<div [hidden]="!showcontent3" id="over">
    <h5>VolleyBall</h5><br>
    <pre>
        Volleyball as a sport is spread out very diversely all across urban and rural India. Since it does not require much area or equipment, it is enjoyed as
a hobby in many parts of the world. At IIG Sports Academy, we provide all of the resources essential to help our students grow from amateurs to professionals.
Often volleyball is played on uneven, muddy surfaces that can lead to major knee and joint problems later in life. At Arena Sports Academy, only the highest-quality 
courts as per universal norms are available for players. We value our students and commit to their long-term future. Our investment in superior equipment and 
proficient coaches gives us returns in the form of shaping future Olympians.
        Volleyball has traditionally been a male-dominated sport, but that has started to change. We encourage female students of every age group and background to 
play in this wonderful sport and become pioneers in it.Strong joints and muscles are a must if any player wants to make a career in volleyball. We have multi station 
gyms fitted with all the latest gyming equipment to assist them. Under the supervision of specialists, students will learn how to strengthen their muscles and build 
their stamina.Volleyball in India has immense scope today. India was ranked 33rd in the under 19 categories by the FIVB. Other popular volleyball competitions held 
in India are NCAA Division Women's Volleyball Tournament, Federation Cup Volleyball, and Nationals are held for Senior, Youth, Junior, and Sub-Junior categories.
Selection from the Nationals can lead to clubs wanting to sign contracts with you. Currently, India faces a shortage of sponsors for volleyball. But with 
great opportunities like RuPay's Pro Volleyball League starting to gain momentum, clubs will be on the lookout for new talent. You could be the fresh face that gets 
selected with persistence and determination!
    </pre>
</div>
<br>
</div>
<span style="text-align: center;background-color: red;color: aliceblue;">*NOTE : Click the game to know more..</span>