<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
<div class="container">
      <span class="navbar-brand" href="#"><img src="../assets/arena.jpg" height="40px"  width="40px">Arena Sports Acadamey</span>
    <div class="collapse navbar-collapse p-2">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item p-2">
                <a class="nav-link" routerLink='' routerLink='home' routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item p-2" >
                <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" routerLink="outdoor" routerLinkActive="active">Outdoor Sports</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" routerLink="indoor" routerLinkActive="active">Indoor Sports</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" routerLink="admission" routerLinkActive="active">Admission</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact</a>
            </li>
        </ul>
    </div>
</div>
</nav>